
* {
  outline: 1px solid red;
}

* {
  border: 1px solid #9ddc9d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

header {
  height: 600px;

  .header-top {
    display: flex;
    justify-content: space-around;
    height: 200px;
  }

  .header-mid {
    flex-grow: 1;
    h1 {}
  }
  .header-bottom {
    padding-bottom: 20px;
  }
}
.products {
  .product-list {
    gap: 20px;
    padding: 20px 0;
    .product{
      width: 60%;
      height: 200px;
    }
  }
}
.about-us {
  h1 {
    font-size: xxx-large;
    text-align: center;
  }
  p {
    text-align: end;
  }

}
.about-us > * {
  width: 600px;
}