@import "partials/_icons";


/*Variables*/

$text-color: #ffffff; /*white*/
$title-color: #bea67c; /*brown*/
$text-color-two: #000000; /*black*/

$font-family: 'Source Sans Pro', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-semibold-italic: 600;
$font-bold: 700;
$font-black: 900;

/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;

  padding: 10px;
  word-spacing: 40px;

  a {
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    color: $text-color;
    font-weight: $font-regular;
    font-size: 13px;
    padding: 10px;
    filter: brightness(70%);
  }

}


header {
  padding-top: 30px;
  height: 700px;
  font-family: 'Source Sans Pro', sans-serif;

  .discover {


    text-align: center;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;
    letter-spacing: 4px;

    a {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 500;
      color: white;
      text-decoration: none;
    }

    .fa-circle-down {
      color: white;
      position: absolute;
      font-size: 25px;
      top: 200%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h2 {
    letter-spacing: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    line-height: 0.1;


    font-size: 25px;
    color: $text-color; /* zmiana koloru tekstu na headerze */
  }

  h5 {

    letter-spacing: 3px;
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    line-height: 0.1;
    word-spacing: 3px;
    color: $text-color; /* zmiana koloru tekstu na headerze */
  }
  .header-top {
    display: flex;
    justify-content: space-around;
    height: 80px;
  }

  .header-mid {
    flex-grow: 1;
  }

  .left {
    font-size: 70px;
    color: $title-color;
    display: flex;
    justify-content: right;
    margin: 0;
    transform: translateX(50%);
    word-spacing: 5px;
    letter-spacing: 7px;
    height: 200px;

  }

  .right {

    font-size: 70px;
    color: $title-color;
    display: flex;
    justify-content: left;
    margin: 0;
    gap: 1rem;
    word-spacing: 4px;
    letter-spacing: 8px;
    transform: translateY(-20%);
    transform: translateX(-10%);
  }

  .header-bottom {
    padding-bottom: 60px;
  }
}



.bcg {
  background-image: url("src/images/background.png");
  filter: brightness(40%);
  width: 100%;
  height: 700px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.rating{
  bottom: 50px;
  position: relative;
  $font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 0.0;
  right: 17%;


}
.name {
  letter-spacing: 2px;
}
.products{
  h2{
    color: $title-color;
    padding-bottom: 40px;
    font-size: xxx-large;
    height: 70px;
    text-align: center;
    letter-spacing: 6.2px;
  }
}
.product-row {
  display: flex;
  justify-content: space-between;
  width: 700px;


}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 380px;
  order: 2;

}

.product-img img {
  display: block;
  height: 220px;
  width: 290px;

}


.parameters {

  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  width: 350px;
  order: 1;
  height: 10px;
  p{
    font-size: 9px;
  }
  .order{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 150px;
    bottom: 50px;

  }
}

.specs {
  color: #bea67c;
}

.product-row:nth-child(even) .product-img {
  order: 1;
}

.product-row:nth-child(even) .parameters {
  order: 2;
}

.flex-center {
  color: $text-color-two;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  color: $title-color;
  padding-bottom: 40px;
  font-size: xxx-large;

  height: 70px;
  text-align: center;
  letter-spacing: 6.2px;

  margin: 0;
  border-bottom: 2px solid $title-color;
  width: 35%;

}
.about-us {
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    color: $title-color;

  }



  p {
    font-family: 'Source Sans Pro', sans-serif;
    color: $title-color;
    padding-top: 20px;
    font-size: 20px;
    justify-content: left;
    color: $text-color;
    padding-bottom: 10px;
    width: 500px;
    height: 200px;
  }
 .join-us {
   justify-content: right;
   width: auto;
   height: 50px;
   padding: 0 0 0 600px;

 }

  .img-about {
    display: flex;
    flex-direction: column;

    background-image: url("src/images/about-us.jpg");
    filter: brightness(40%);
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    z-index: -3;

  }
}



footer {
  font-family: Arial;
  color: black;
  position: relative;
  text-align: center;
  padding: 3px;
}






